# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environment
venv/
env/
*.env

# IDE files
.vscode/
.idea/

# Mac OS system files
.DS_Store

# Windows system files
Thumbs.db

# Flask and Render specific files
*.log
instance/
